button {
  height: 4rem;
  width: 15rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(48, 48, 97, 0.1);
}

.container {
  position: absolute;
  background-color: rgba(48, 48, 97, 0.35);
  display: grid;
  width: 50vw;
  height: 50vh;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inc {
  background-color: rgba(202, 84, 84, 0.8);
}

.dec {
  background-color: rgba(84, 202, 84, 0.8);
}

.display {
  padding: 1%;
  width: 10rem;
  font-size: 3rem;
}